.switch[type="checkbox"] {
  outline: none;
  user-select: none;
}

.switch[type="checkbox"]:focus + label::before,
.switch[type="checkbox"]:active + label::before {
  outline: none;
  box-shadow: none;
}

.switch[type="checkbox"] + label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-left: 3.5rem;
}

.switch[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 3rem;
  height: 1.5rem;
  border-radius: 9999px;
  background-color: #b5b5b5;
  border: 0.1rem solid transparent;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.switch[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  background-color: #fff;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.switch[type="checkbox"]:checked + label::before {
  background-color: #ffdd57;
}

.switch[type="checkbox"]:checked + label::after {
  transform: translateX(1.5rem);
}

.animated-title {
  animation: 
    jump 0.8s ease infinite alternate,
    flash 0.8s ease infinite alternate;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes flash {
  0% {
    background-image: linear-gradient(to right, #ffd83d 0%, #d7931f 0%);
  }
  100% {
    background-image: linear-gradient(to right, #ffd83d 100%, #d7931f 100%);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

