.animated-title {
    animation: 
      jump 0.8s ease infinite alternate,
      flash 0.8s ease infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes flash {
    0% {
      background-image: linear-gradient(to right, #ffd83d 0%, #d7931f 0%);
    }
    100% {
      background-image: linear-gradient(to right, #ffd83d 100%, #d7931f 100%);
    }
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }