
.yellowPagination {
  background-color: #c1a536 ;
  border-color: #f3d76a ;
  color: rgba(0, 0, 0, 0.7) ;
}

.yellowPagination:hover {
  background-color: #ffe270 ;
  border-color: #ffce00 ;
}

.yellowPagination.is-current {
  background-color: #fddd5a ;
  border-color: #ffce0c ;
  color: rgba(0, 0, 0, 0.7) ;
}


.yellowLink {
  color: #ffdd57 ;
  transition: color 0.3s ease;
}

.yellowLink:hover {
  color: #ffce00 ;
}


.releaseBox {
  border: 1px solid #ffdd57;
  transition: box-shadow 0.3s ease;
}

.releaseBox:hover {
  box-shadow: 0 0 15px rgba(235, 190, 14, 0.5);
}


:global(.pagination-previous.is-warning),
:global(.pagination-next.is-warning) {
  background-color: #ffdd57;
  border-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

:global(.pagination-previous.is-warning:hover),
:global(.pagination-next.is-warning:hover) {
  background-color: #ffce00;
  border-color: #ffce00;
}

.tabs a {
  color: #ffce00; 
}

.tabs li.is-active a {
  border-bottom-color: #ffce00;
}