
.yellowPagination {
  background-color: #d3d3d3; 
  border-color: #d3d3d3;
  color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.yellowPagination:hover {
  background-color: #ffe270; 
  border-color: #ffce00;
}

.yellowPagination.is-current {
  background-color: #f1c40f !important;
  border-color: #f39c12 !important;
  color: rgba(0, 0, 0, 0.9) !important;
}




.yellowLink {
  color: #ffdd57 ;
  transition: color 0.3s ease;
}

.yellowLink:hover {
  color: #ffce00 ;
}


.releaseBox {
  border: 1px solid #ffdd57;
  transition: box-shadow 0.3s ease;
}

.releaseBox:hover {
  box-shadow: 0 0 15px rgba(235, 190, 14, 0.5);
}


:global(.pagination-previous.is-warning),
:global(.pagination-next.is-warning) {
  background-color: #ffdd57;
  border-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

:global(.pagination-previous.is-warning:hover),
:global(.pagination-next.is-warning:hover) {
  background-color: #ffce00;
  border-color: #ffce00;
}

:global(.tabs a) {
  color: #ffce00; 
}

:global(.tabs li.is-active a) {
  border-bottom-color: #ffce00;
}
